body {
    font: 12px/18px "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Verdana,sans-serif;
}
.chart-div {
    vertical-align: middle;
    text-align: center;
}
.chartcontrols1 input {
    font-size: 90%;
}
td {text-align: left;}

.chzn-button .chzn-single span {
    margin-right: 10px;
    text-align: center;
}

.chzn-results .group-option {
    color: #000 !important;
}
.chzn-results .result-selected,
.chzn-results .highlighted{
    color: #FFF !important;
}


input {
    vertical-align: bottom
}


.showJSBtn,
.showFlashBtn {
    text-align: left;
}

.swapRendererBtn {
    padding: 1px;
    display: inline;
    float:left;
    margin-left: 10px;
    cursor: pointer;
    width: 130px;
    text-align: left;
    background: #fff;
    color: #000 !important;
}
.swapRendererBtn a{
    color: #222 !important;
    border-bottom: 1px dotted #333;
}
.swapRendererBtn a:hover{
    color: #555 !important;
    border-bottom: 1px dotted #000;
}


.showFlashBtn span{
/*
    padding-left: 24px;
    background:url('images/flashbtn.gif') no-repeat left center;*/
}
.showJSBtn span{
/*    padding-left: 24px;
    background:url('images/jsbtn.gif') no-repeat left center;*/
}

#showhideCachedChartTypesDIV {
    width:10px;
    cursor: pointer;
    font-size: 8px;
    line-height:8px;
    padding-left: 5px;
    float: left;
    margin: 2px;
    text-align: left;
}

.showplus {
    background: url('images/plus.gif') no-repeat left center;
}
.showminus {
    background: url('images/minus.gif') no-repeat left center;
}


#cachedChartTypesDIV {
    margin-left: 12px;
    text-align: left;
    display: none;
}

#cachedChartTypesDIV .ctype{
    background: none repeat scroll 0 0 #F9F8FA;
    border: 1px dashed #EFEEF0;
    color: #68676B;
    font-family: "Trebuchet MS",Helvetica,sans-serif;
    margin: 1px;
    padding: 0;
    padding-left: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -khtml-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
#cachedChartTypesDIV .ctype img {

}
#exportHolder {
    width:100%;
    height: 60px;
    display: none;
    overflow:auto;
    background: #fafafa;
    border: 1px dotted #ccc;
    text-align: left;
    vertical-align: top;
    padding: 2px;
}

#exportHolder .thumbparent {
    position: relative;
    width: 60px;
    height: 55px;
    margin: 1px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    cursor: pointer;
    vertical-align: top;

}
#exportHolder .thumbparent .close {
    position: absolute;
    right:0;
    top:0;
    width: 20px;
    height: 20px;
    background: url('images/button_lightbox_close.png') no-repeat top left;
    cursor: pointer;
}
#exportHolder .thumbparent .thumbholder {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid #fff;
    background: #fefefe;
    width: 50px;
    height: 40px;
    padding: 1px;
    border: 1px solid #ddd;
    background: #fff;
    vertical-align: top;
    overflow: auto;
    overflow-x: hidden;
    overflow-y: auto;


}



#exportHolder .thumbholder img {
    border: none;
    cursor: pointer;
    vertical-align: top;
}
#exportHolder .thumbholder a {
    border: none;
    cursor: pointer;
    vertical-align: top;
    opacity: .8;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
    filter: alpha(opacity=80);
}
#exportHolder .thumbholder a:hover {
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
}

h2.headline {
    color: #7D7C8B;
    font: 110%/137.5% "Trebuchet MS",Arial,Helvetica,sans-serif;
    margin: 25px 0;
    padding: 0;
    text-align: center;
}
p.small {
    color: #919191;
    font: 68.75%/150% Verdana,Geneva,sans-serif;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 664px;
}
.headerbg, .headerbg td, .headerbg th {
    background-color: #EEEEEE;
    color: #000000 !important;
}
table, table tr td {
    font-size: 12px !important;
    line-height: 21px !important;
    margin: 0 !important;
    padding: 0 !important;
}

table.table td {
    color: #898989;
    font: 75%/190% "Trebuchet MS",Arial,Helvetica,sans-serif;
    padding: 5px;
}
table.table, table.table th, table.table td {
    text-align: center;
    border: 1px solid #999999;
}

table.table {
    border-collapse: collapse;
}

